Source/FlyCommon.xcframework
Source/FlyCall.xcframework
Source/FlyCore.xcframework
Source/FlyCore.xcframework
Source/FlyXmpp.xcframework
Source/FlyDatabase.xcframework
Source/FlyNetwork.xcframework
Source/FlyTranslate.xcframework